* {
  font-family: Arial, sans-serif;
}

li {
  padding: 8px;
}

span {
  padding-right: 12px;
}

.error {
  color: green;
  background: lightgray;
  font-size: 20px;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 10px;
}